@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500&family=Roboto:wght@400;500&display=swap');

:root {
    --main-bg-color: #bd6418;
    --main-border-color: #e28029;
    --font1: 'Baloo Bhaina 2', sans-serif;
    --font2: 'Roboto', sans-serif;
}

.font1 {
    font-family: var(--font1);
}

.center {
    text-align: center;
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.mx-1{
    margin-left: 23px;
    margin-right: 23px;
}

.my-2 {
    margin-block: 34px;
}

.btn {
    padding: 0px 18px;
    padding-top: 3px;
    font-size: 16px;
    font-family: var(--font1);
    border: 2px solid #000;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s linear;
}

.btn:hover {
    color: white;
    background-color: var(--main-bg-color);
}

.form-input {
    padding: 0px 6px;
    padding-top: 3px;
    border: 1px solid black;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}

.form-box input,
.form-box textarea {
    width: 52vw;
    padding: 0px 6px;
    font-size: 16px;
    margin: 7px 0;
    border: 2px solid var(--main-border-color);
    border-radius: 6px;
    font-family: var(--font1);
}

